  
<% @all_types.each do |hash| %>
    <h2>All <%= hash[:type_name] %> Recipes</h2>

    <% hash[:type].each do |recipe| %>
        <ul>
            <li><%= link_to recipe.name, recipe_path(recipe) %></li>
        </ul>
    <% end %>
<% end %>

<h1>All Starter Recipes</h1>

<% @recipes.each do |recipe| %>
    <ul>
        <li><%= link_to recipe.name, recipe_path(recipe) %></li>
    </ul>
<% end %>



