<h1>Profile page for <%= @user.user_name %> </h1>

<h3>All Recipes Created by <%= @user.user_name %><h3>
<ul>
    <% @user.recipes.each do |recipe| %>
        <li><%= link_to recipe.name, recipe_path(recipe) %></li>
    <% end %>
</ul>

<h3>All My Saved Recipes<h3>
<ul>
    <% @user_saved_recipes.each do |recipe| %>
        <li><%= link_to recipe.name, recipe_path(recipe) %></li>
    <% end %>
</ul>

<h3>My Grocery List<h3>

